
@import url("https://fonts.googleapis.com/css?family=Lato|Sriracha&display=swap")
@import url("components/avatar.css")
@import url("components/container.css")
@import url("components/button.css")
@import url("components/banner.css")
@import url("components/card.css")

body{
	font-family: 'Sriracha', cursive;
	font-size: 18px;
}
h1,h2,h3{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.fond{
	background-color: black;
}

a{
	text-decoration: none;
}